body {
  background-image: url(../pic/alien-face.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-family: monospace;
  font-size: small;
}

table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  font-size: small;
}

.data:hover {
  background-color: WhiteSmoke;
}

table.data.tr:hover {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}

tr.active {
  border: 1px;
  border-style: solid;
}

table.data.td, table.data.th {
  border: 1px;
}

td, th {
  vertical-align: top;
  white-space: pre;
}

th {
  text-align: left;
}

span.active {
  margin-bottom: 5px;
  margin-right: 5px;
  font-weight: bold;
}

span.line {
  display: block;
}

span.stats {
  float: right;
  font-weight: normal;
}

span.sql {
  margin-left: 5px;
}

.tablehover {
  background-color: whitesmoke;
}

.thead, .tbody {
  display: table;
  width: 60%;
}

.tr, .th {
  display: table-row;
}

.td {
  display: table-cell;
}